* 
{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body
{
    overflow-x: hidden;
}

.lines
{
    width: 100%;
    height: 100vh;
    transition: 0.3s;
}

